html, body {
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: sans-serif;
}

#container {
  height: 100%;
  background-color: #f0f2f4;
}

.main {
  display: flex;
  text-align: center;

  > svg {
    padding: 30px;
    user-select: none;
  }

  > div {
    padding: 10px 50px;
  }
}

.dialog {
  padding: 20px;
  background: white;
  width: 260px;
  text-align: left;
}

.form {
  > div {
    display: flex;
    width: 100%;
    padding: 5px;

    > label {
      width: 100px;
      font-size: 0.8em;
    }
  }
}

.footer {
  display: flex;
  background: #ebeae8;
  margin: -20px;
  margin-top: 18px;
  padding: 15px 20px;
  text-align: right;

  .spacer {
    flex: 1 1;
  }

  button {
    margin: 0 5px;
    padding: 5px;
  }
}

.task {
  .main {
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.7);
    stroke: rgba(0, 0, 0, 0.6);
    r: 12;
    transition: all 0.2s;
  }

  .tooltip {
    fill: rgba(255, 255, 255, 0.6);

  }

  .tooltip-text {
    font-size: 12px;
    text-anchor: middle;
  }
}

.task:hover {
  .main {
    fill: rgba(255, 255, 255, 0.9);
    stroke: rgba(0, 0, 0, 0.9);
    r: 15;
    transition: all 0.2s;
  }
}

.edge {
  stroke: rgba(0, 0, 0, 0.6);
}
